.container
  %h1 Editing task
  =simple_form_for @task do |f|
    =f.error_notification
    =f.input :name
    =f.input :description
    =f.select :user_id, options_for_select(User.all.map{|u| [u.email, u.id]}), {label: false}, {class: 'form-select'}
    =f.select :state, options_for_select(Task.states.keys.map { |state| [state.humanize, state] }, @task.state), {label: false}, {class: 'form-select'}
    .container
      %h3 File attachments
      =f.simple_fields_for FileAttachment.new do |ff|
        =ff.input :file, as: :file
      %p
        =@task.file_attachments.count
    =f.button :submit, class: 'btn btn-primary'



  = link_to 'Show', @task
