.container.d-flex.justify-content-center.align-items-start.my-4{style:'min-height: 100%'}
  .card{style:'min-width: 100%'}
    .card-header
      .card-title
        %h2.card-title
          %i.bi.bi-people
          =t(:users)

    .card-body
      .row.my-4
        -User.titles.each do |title|
          .col.h4= t(title.downcase.to_s)
        -if can? :create, User
          .col
            %button#new-user-button.btn.btn-primary
              =t(:new_user)
              %i.bi.bi-plus

      #new-user-row
        =render 'users/new_in_table'
      -@users_on_page.each do |user|
        =render 'users/show_in_table', user: user


      = render 'layouts/pagination', table: User, page: @page, path: users_path

:javascript
  document.addEventListener("turbo:load", function() {
    $('#new-user-row').hide()

    $('#new-user-button').click(e => {
      $(e.target).find('i').toggleClass('bi-plus bi-dash')
      $('#new-user-row').toggle()
    })
  })