.container.d-flex.justify-content-center.align-items-start.my-4{style:'min-height: 100%'}
  .card{style:'min-width: 100%'}
    .card-header
      .d-flex
        .container
          %h2.card-title
            %span
              =image_tag @user.avatar.url || 'default_avatar.png', class: 'rounded-circle', style: 'width: 4rem; height: 4rem;'
              = @user.email
          %p.card-subtitle
            #{@user.first_name} #{@user.last_name}

        = link_to users_path do
          %i.bi.bi-people.fs-1

    .card-body.d-flex.gap-4
      %h4 Tasks:
      -@user.tasks.each do |task|

        =link_to task do
          =task.name
