.container.m-4
  .d-flex.gap-4.justify-content-center.align-items-center
    =image_tag @user.avatar.url || 'default_avatar.png', class: 'rounded-circle', style: 'width: 4rem; height: 4rem;'
    %h2= @user.email
  .d-flex.gap-4.justify-content-center.align-items-center
    =@user.first_name + ' ' + @user.last_name
  .d-flex.gap-4.justify-content-center.align-items-center
    -@user.tasks.each do |task|
      %p
        task name:
        =task.name
  = link_to 'Back', users_path