.container.d-flex.justify-content-center.align-items-center.py-4{style:'min-height: 100%'}
  .card{style: 'max-width: fit-content'}
    .card-header
      %h2.card-title
        %i.bi.bi-house
        =t(:home_page)
    .card-body
      .d-flex.gap-4
        %iconify-icon{icon: 'logos:rails', style: 'font-size: 6rem', class: 'row-sm'}
        %iconify-icon{icon: 'devicon:ruby-wordmark', style: 'font-size: 6rem', class: 'row-sm'}
        %iconify-icon{icon: 'skill-icons:jquery', style: 'font-size: 6rem', class: 'row-sm'}
        =image_tag 'https://daniel-sykora.cz/svelte/img/icon/technology/icon-htmx.svg', style: 'width: 6rem; height: 6rem', class: 'row-sm bg-dark p-1 rounded-4 d-block'

        -# {style: 'max-width: 64ch'}

      =link_to 'https://github.com/qwality/Redmine', class: 'd-flex flex-column my-4 text-decoration-none' do
        %i.bi.bi-github.text-dark.d-flex.justify-content-center.align-items-center{class: '', style: 'font-size: 16rem'}
        .text-center.text-dark.fs-1
          =t(:github_link)