.container.mt-3
    %h1 Home Page
    %h4 todo:
    %ul
        %li dodelat show | edit | atd. pro jednotlive tasks
        %li pridat pridavani priloh k taskum
        -# %li z nejakeho mi neznameho duvodu nefunguji tlacitka edit po prvnim presmerovani (je treba kliknout na reload stranky)