
.container.mt-3
  %h1 Pages#home
  %p Find me in app/views/pages/home.html.erb
  = link_to 'about', about_path

  %h2 users:

  .d-flex.flex-column
    - User.all.each do |user|
      %div= user.email
