.container.d-flex.justify-content-center.align-items-center{style:'min-height: 100%'}
  .card{style: 'max-width: fit-content'}
    .card-header
      %h2.card-title
        %i.bi.bi-house
        Home Page
    .card-body{style: 'max-width: 64ch'}
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dignissim nec eros in tincidunt. Nam ut lectus at mi pharetra maximus. Sed lobortis, urna at semper blandit, eros nunc accumsan nulla, in porttitor lacus massa sit amet felis. Nulla metus nulla, convallis id ipsum tincidunt, condimentum accumsan dui. Integer viverra eros orci, ut tincidunt nisl malesuada sit amet. Aliquam vitae venenatis magna. Morbi maximus pharetra tellus, at posuere sem malesuada sed. Nulla vestibulum ex et ex ornare, eu sagittis neque commodo. In nec ex eu diam elementum vehicula at eget libero. Duis faucibus varius magna sed sagittis. Etiam turpis nulla, iaculis a nisi vel, ultricies pellentesque sem.