.container
  %h2 Projects

  .container
    .row.mb-4
      .col.h4 Name
      .col.h4 Description
      .col.h4 Created at
      .col.h4 Tasks count
      .col
        %button#new-project-button.btn.btn-primary
          New project
          %i.bi.bi-plus

    #new-project-row
      =render 'projects/new_in_table'
    -@projects.each do |project|
      =render 'projects/show_in_table', project: project

    = link_to 'Back', root_path

:javascript
  $(document).ready(() => {
    $('#new-project-row').hide();

    $('#new-project-button').click(() => {
      $('#new-project-row').toggle();
    });
  })
