.container
  %h2 Projects
  %h4 todo:
  %ul
    %li rekl bych ze tady to mame implementovane vsechno

  %button#new-project-button.btn.btn-primary{
  }
    Create new project
    %i.bi.bi-plus

  :javascript
    $(document).ready(() => {
      $('#new-project-row').hide();

      $('#new-project-button').click(function() {
        $('#new-project-row').toggle();
      });
    })

  .container
    .row.mb-4
      .col.h4 Name
      .col.h4 Description
      .col.h4 Created at
      .col.h4 Tasks count
      .col

    #new-project-row
      =render 'projects/new_in_table'
    -@projects.each do |project|
      =render 'projects/show_in_table', project: project

    = link_to 'Back', root_path
