-# %p#notice= notice

.container
  %h2 nazev:
  %p=@project.name
  %h2 popis:
  %p=@project.description

  %h2 Tasks:

  %table
    %thead
      %tr
        %th name
        %th description
        %th resitel
        %th state

    %tbody
      =render 'tasks/new_in_table', project: @project
      -@project.tasks.each do |task|
        =render 'tasks/show_in_table', task: task

  = link_to 'Edit', edit_project_path(@project)
  \|
  = link_to 'Back', projects_path
