.container.d-flex.justify-content-center.align-items-start.my-4{style:'min-height: 100%'}
  .card{style:'min-width: 100%'}
    .card-header
      .d-flex
        .container
          %h2.card-title
            %i.bi.bi-kanban
              =@project.name
          %p.card-subtitle
            =@project.description

        = link_to edit_project_path(@project) do
          %i.bi.bi-sliders.fs-1

    .card-body
      .row.mb-4
        .col.h4  Name
        .col.h4  Description
        .col.h4  Solving User
        .col.h4  State
        .col
          %button#new-task-button.btn.btn-primary
            New task
            %i.bi.bi-plus

      #new-task-row
        =render 'tasks/new_in_table', project: @project
      -Task.page(@page).per(C::ITEMS_PER_PAGE).each do |task|
        =render 'tasks/show_in_table', task: task

      = render 'layouts/pagination', table: Task, page: @page, path: project_path(@project)



:javascript
  $(document).ready(() => {
    $('#new-task-row').hide();

    $('#new-task-button').click(e => {
      $(e.target).find('i').toggleClass('bi-plus bi-dash')
      $('#new-task-row').toggle()
    })
  })