-# %p#notice= notice

.container
  %h2 nazev:
  %p=@project.name
  %h2 popis:
  %p=@project.description

  %h2 Tasks:

  %table
    %thead
      %tr
        %th name
        %th description
        %th resitel
        %th state

    %tbody
      -@project.tasks.each do |task|
        %tr
          %td=task.name
          %td=task.description
          %td=task.user.email
          %td=task.state
          %td=link_to 'Show', task
          %td=link_to 'Edit', edit_task_path(task)
          %td=link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }

  = link_to 'Edit', edit_project_path(@project)
  \|
  = link_to 'Back', projects_path
