-# %p#notice= notice

.container
  %h2 nazev:
  %p=@project.name
  %h2 popis:
  %p=@project.description

  %h2 Tasks:
  %button#new-task-button.btn.btn-primary{
  }
    %i.bi.bi-plus

  :javascript
    $(document).ready(() => {
      $('.new-task-row').hide();

      $('#new-task-button').click(function() {
        $('.new-task-row').toggle();
      });
    })

  .container
    .row.mb-4
      .col.h4  Name
      .col.h4  Description
      .col.h4  User
      .col.h4  State
      .col

    .new-task-row
      =render 'tasks/new_in_table', project: @project
    -@project.tasks.each do |task|
      =render 'tasks/show_in_table', task: task

  = link_to 'Edit', edit_project_path(@project)
  \|
  = link_to 'Back', projects_path
